#mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondaryContainer {
    color: white;
    padding: 2rem;
    max-width: 10rem;
}

.secondaryContainer:nth-of-type(1) {
    background-color: #e38525;
}
.secondaryContainer:nth-of-type(2) {
    background-color: #016871;
}
.secondaryContainer:nth-of-type(3) {
    background-color: #003f3e;
}
button {
    border: none;
    border-radius: 0.5rem;
    padding: 8px 15px 8px 15px
}